*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
nav{
    position: fixed;
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    position: sticky;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 1px 17px 44px -22px rgba(224,224,224,1);
    -moz-box-shadow: 1px 17px 44px -22px rgba(224,224,224,1);
    box-shadow: 1px 17px 44px -22px rgba(224,224,224,1);
}

nav ul li{
    list-style: none;
    margin: 15px;
    width: 5vw;
    border: 1px solid red;
    height: 6vh;
    width: fit-content;
}
.hola{
    background-color: #8ECAE6;
    height: 80vh;
    color: #023047;
}

.hola, .descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hola figure{
    margin-top: 100px;
}
.hola figure img{
    height: 25vh;
    width: fit-content;
    border: 2px solid white;
    border-radius: 100%;
    margin: 10px;
    background-color: black;
    z-index: 19;
}


h1{
    font-size: 7rem;
    font-family:  "Poppins", sans-serif;
}
h2, .hola h3{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

.descripcion{
    padding-top: 50px;
    padding: 40px;
    padding-left: 40px;
    background-color:  #023047;
    height: 80vh;
    color: white;
}
.descripcion h2{
    font-family:  "Poppins", sans-serif;
    font-size: 5rem;
}
.descripcion p{
    margin-top: 30px;
}
.tech{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: #8ECAE6;
    height: 80vh;
}
.tech h2{
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
}

.tech .bloques{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    width: 100%;
    text-align: center;
    justify-items: center;
}
.bloques ul{
    height: 25vh;
    width: 25vw;
    background-color: transparent;
}
.front li, .back li, .otras li{
    color: rgb(255, 255, 255);
    margin: 5px;
    padding-top: 10px;
    list-style: none;
}

.projects{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects h2{
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    color: #023047;
}
.project{
    margin: 25px;
}
.project h3{
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    color: #023047;
    text-align: center;
}
.project p{
    width: 50vw;
    margin-top: 4px;
}
.project figure{

}

.project figure img{
    width: fit-content;
    height: 25vh;
    align-self: center;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8ECAE6;
    height: 80vh;
}
.contact h2{
    text-align: center;
    margin: 25px;
}
.contact form{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 20px;
}

.contact form input, textarea{
    margin-bottom: 15px;
    width: 55vw;
}

footer{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #white;

}

footer img{
    border: 1px solid transparent;
    border-radius: 100%;
    width: 25px;
    height: 25px;
}